#navbar-header{
	background-color: #ffc107;
	border-radius: 0;
	border: 0;
	width: 100%;
}
.row{
	width: 100%
}
#option{
	text-align: center;
}
#main-content{
	text-align: center;
}
#chicken,#beef,#sushi{
	border: 2px solid black;
	margin: 10px;
}
h2{
	margin: 20px;
}
#chicken{
	background-color: orange;
}
#beef{
	background-color: white;
    background-image: linear-gradient(white, lightblue, white);
}
#sushi{
	background-color: green;
}
@media(min-width: 767px){
	#option{
		display: none;
	}
}